@import "../common/styles/sass/variables";

.headerBlock{
    display: flex;
    align-items: center;
    min-height: 10vh;
    background-color: $bgTextColor;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;


    .headerContainer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;

    }
}


