.hireBlock {
  display: flex;
  align-items: center;
  min-height: 20vh;
  padding-bottom: 100px;


  .hireContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}





