.projectsBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 100px;


    .projectsContainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .projects{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        gap:20px;
        @media screen and (max-width: 1157px) {
            justify-content:center;
        }
        &:nth-last-child(1){
            padding-bottom: 30px;
        }
    }


}









